Trabajo de la asignatura DAW II (Desarrollo de Aplicaciones Web II) consistente en una aplicación de página única (SPA - _Single Page Application_) desarrollada en Angular que, a través del uso de servicios y rutas, establezca una comunicación entre componentes lejanos. 

La aplicación implementa un índice de aves endémicas de la isla de Fuerteventura. Para añadir/eliminar aves del índice es necesario que el usuario haya iniciado sesión en el aplicativo web. 

**Autor** ✒️

* Francisco Javier López-Dufour Morales