<mat-toolbar color="primary">
    <mat-toolbar-row class="header">
        <!-- Page logo -->
        <span routerLinkActive="active"><a routerLink="home" class="logo">
            <img src="https://img.icons8.com/bubbles/50/000000/origami.png"/>
            Aves de Fuerteventura</a></span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>

        <!-- Menú desplegable -->
        <mat-menu #menu="matMenu">
            <button mat-menu-item span routerLinkActive="active" routerLink="logup">
                Registrarse
            </button>
            <button mat-menu-item span routerLinkActive="active" routerLink="login">
                Iniciar sesión
            </button>
            <!-- <button mat-menu-item> -->
            <button mat-menu-item routerLinkActive="active" routerLink="create">
                Añadir
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
