.bird-info{
    height: fit-content;
}

.bird-card {
    background-image: linear-gradient( 109.6deg,  rgba(0,191,165,1) 11.2%, rgba(0,140,122,1) 100.2% );
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.credit{
    text-align: center;
    font-size: 8px;
    color: #b1b1b1; 
}

.bird-buttons{
    display: flex;
    text-align: center;
    padding: 1em;
}

a {
text-decoration: none;
color: white;
display: flex;
justify-content: center;
}

a:hover {
    color: rgb(206, 7, 7);
}

.bird-info-button{
    margin: 1em;
}

.bird-card-image {
    width: calc(30% + 32px);
    max-height: 380px;
}

.bird-desc {
    max-height: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    overflow: auto;
}

/* ==== Scrollbar ==== */ 
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: #7ff9e9;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #05584e; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #07332e; 
    }
/* ==== ===== ==== */ 

@media screen and (max-width: 600px) {
    .bird-card-image {
        width: calc(90% + 32px)
    }
}