<div class="bird-info" *ngIf="showBirdService.bird">
    <mat-card class="bird-card">
        <mat-card-header>
          <mat-card-title>{{ showBirdService.bird.especie }}</mat-card-title>
          <mat-card-subtitle>{{ showBirdService.bird.cientifico }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="bird-card-image" [src]="showBirdService.bird.img" alt="Photo of a bird">
        <mat-card-content>
          <p class="credit">
            <strong>Crédios</strong>: {{ showBirdService.bird.autor }}
          </p>
          <p>
            {{ showBirdService.bird.desc }}
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <div class="bird-buttons">
            <button class="bird-info-button" mat-fab color="warn" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="bird-info-button" mat-fab color="warn" aria-label="Example icon button with a delete icon">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </mat-card-actions> -->
      </mat-card>
</div>