.birds-list-items{
    margin-bottom: 0.5em;
}

.bird-list{
    height: 100%;
}

.bird-list-item{
    display: flex;
    align-items: center;
    text-decoration: solid;
    padding: 0.5em;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #0399bb 0%, #1f5cb1  51%, #059dbe  100%);
    box-shadow: 0 0 20px #eee;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    border-radius: 10px;
    transition: 0.5s;
}

  .bird-list-item {
    
     text-align: center;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: flex;
   }

   .bird-list-item:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  
.bird-item-info{
    margin-left: 1em;
}

.bird-especie {
    font-size: 20px;
}

.bird-cientifico{
    color:rgba(255,255,255,.7);
    font-size: 14px;
}

.bird-list{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .bird-item-info{
        display: none;
    }

    .bird-list-item {
        align-items: center;
        justify-content: center;
    }

    .bird-image{
        width: 40px;
        height: 40px;
    }

    .birds-list-items{
        margin-bottom: 1em;
    }
    
  }