<mat-action-list role="list">
    <div class="bird-list">
        <mat-list-item class="birds-list-items" role="listitem" (click)="changeBirdInfo( bird['id'] )"
            *ngFor="let bird of birds">
            <div class="bird-list-item">
                <img class="bird-image" width="30" height="30" src="{{ bird['img'] }}">
                <div class="bird-item-info">
                    <span class="bird-especie">{{ bird["especie"] }}</span>
                </div>
            </div>
        </mat-list-item>
    </div>
</mat-action-list>