<div class="bird-form-content">
    <div>
        <h1>Nueva ave:</h1>
        <p>Por favor, rellene los campos para agregar una nueva especie al índice</p>
    </div>
    <form class="bird-form" #addBirdForm="ngForm" (ngSubmit)="onSubmitform(addBirdForm)">
        <div class="form-group">
            <label for="especie">Especie</label>
            <input type="text" required name="especie" class="form-control" id="especie" ngModel aria-describedby="Especie"
                placeholder="Avutarda hubara">
            <small class="form-text text-muted">Nombre de la especie que va a agregar.</small>
        </div>

        <div class="form-group">
            <label for="nombre_cientifico">Nombre científico</label>
            <input type="text" required name="nombre_cientifico" class="form-control" ngModel id="nombre_cientifico"
                placeholder="Chlamydotis undulata">
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción del ave</label>
            <textarea class="form-control" name="descripcion" ngModel required id="descripcion" rows="3"
                placeholder="{{ hubara_desc }}"></textarea>
            <small class="form-text text-muted">Descripción del ave o información de interés.</small>
        </div>

        <div class="form-group">
            <label for="image_url">Imagen (URL)</label>
            <input type="text" name="image_url" ngModel class="form-control" id="image_url"
                placeholder="fuerteventura.com/file/hubara1.png">
        </div>

        <div class="form-group">
            <label for="autor">Autor</label>
            <input type="text" name="autor" ngModel class="form-control" id="autor" placeholder="Pedro Morales">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!addBirdForm.valid">Agregar</button>
    </form>

    <div>
        <img class="img-herrerillo" src="https://www3.gobiernodecanarias.org/medusa/wiki/images/7/7d/Herrerillo-comun.png" alt="Imagen de un Herrerillo común">
      </div>
</div>