form{
    padding: 2em;
}

.login-content{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.img-hubara{
    width: 240px;
}
